# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
env/
*.virtualenv
*.env

# Distribution and build files
*.whl
build/
dist/

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

